<% content_for :header_title do %>
  <h2>Visit History</h2>
<% end %>
<ul>
  <% sort_by_date(@visits).each do |date| %>
  <li>
    <a href="/<%= @name %>/<%= date.gsub("-", "_") %>/visit_summary"><%= format(date) %></a>
  </li>
  <% end %>
</ul>

